.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    background: rgb(240, 235, 235);

}

.column {
    background-color: rgb(253, 247, 247);
    width: 20%;
    height: 100px;
    padding: 10%;
    margin-left: 10%;
    margin-right: 10%;
    list-style: none;
}

.toDo {
    color: rgb(240, 159, 173);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 1%;
    margin-bottom: 5%;
}

.doing {
    color: blue;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 1%;
    margin-bottom: 5%;
}

.done {
    color: green;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 1%;
    margin-bottom: 5%;
}

.card {
    background: lightcoral;
}