.pomodoroContainer {
    margin: 0;
    background: rgb(8, 91, 185);
    background: black;
    border-bottom: 1px solid white;
    padding: 0.5% 1%;

  } 

.upperBar {
  display: flex;
  justify-content: right;
  margin: 0;
}

.timerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  font-size: 2rem;
  color: white;

}

.buttons {
  margin-left: 1%;
}

.buttons button {
  padding: 0.8rem 2rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: all 300ms ease-in-out;
  transform: translateY(0);
}

.buttons button:hover {
  transform: translateY(-2px);
}

.pomodoros {
  margin-left: 2%;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  border: none;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
}

.icon {
  margin-right: 3%;
  height: 1.8rem;
}

.start {
  background-color: none;
  max-width: 100px;
}

.pause {
  max-width: 100px;
}

.reset {
  height: 1.8rem;
}
